.productInput{
    width: 100%;
    height: 45px;
}

.inputTitle{
    text-align: left;
    margin-bottom: 20px;
}
.inputTitle textarea{
width: 100%;
}
.inputTitle select{
width: 100%;
height: 45px;
}
.infoHead{
    text-align: left;
}
.addProduct-image{
    background-color: rgb(247, 247, 247);
}
.mainInfo{
    background-color: white;
    padding: 30px;

}
.rightSide{
    margin: 20px;
    background-color: rgb(247, 247, 247);
}
.gnrlInfo{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dotted black;
}