.main-containers{
    display: flex;
    text-align: left !important;
}
.prices{
    display: flex;
}
.pricesTwo{
    text-decoration: line-through;
    color: lightgray;
}
.rightItems *{
    padding-top: 5px;
}
.cartInput{
    width: 70px;
    height: 40px;
}
.cartButtons{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
}
.cartAndOther{
    display:flex;
    justify-content: space-between;
}
.cartAndOtherBtn{
    display: flex;
}
.shareBox{
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
}
.iconics i{
    padding-left: 20px;
}
.iconics {
  text-align: left;
}
.cartAndOtherBtnss{
    display: flex;

}
.addToCartButnss{
    margin-right: 30px;
}
.productBTNsw{
    background: none;
    border: none;
    background-color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.5s ease-out;
}
.productBTNsw:hover, .productBTNsw:focus{
    background-color: #e952c5;
    color: white;
}
.colorButtons{
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.shortDess{
    display: flex;
    align-items: center;
}
.colorNames{
    padding-right: 10px;
}