.main-containers{
    display: flex;
    text-align: left !important;
}
.prices{
    display: flex;
}
.pricesTwo{
    text-decoration: line-through;
    color: lightgray;
}
.rightItems *{
    padding-top: 5px;
}
.cartInput{
    width: 70px;
    height: 40px;
}
.cartButtons{
    background: none;
    border: none;
    width: 50px;
    height: 30px;
}
.cartAndOther{
    display:flex;
    justify-content: space-between;
}
.cartAndOtherBtn{
    display: flex;
}
.shareBox{
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
}
.iconics i{
    padding-left: 20px;
}
.iconics {
  text-align: left;

}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
