.main-containers{
    display: flex;
    text-align: left !important;
}
.prices{
    display: flex;
}
.pricesTwo{
    text-decoration: line-through;
    color: lightgray;
}
.rightItems *{
    padding-top: 5px;
}
.cartInput{
    width: 70px;
    height: 40px;
}
.cartButtons{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
}
.cartAndOther{
    display:flex;
    justify-content: space-between;
}
.cartAndOtherBtn{
    display: flex;
}
.shareBox{
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
}
.iconics i{
    padding-left: 20px;
}
.iconics {
  text-align: left;
}
