.TextBody{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
.priceOnes{
    color: lightgray;
    text-decoration: line-through;
    -webkit-user-select: none;
}

.imagBody{
    padding-bottom: 10px;
    transition: all 0.5s ease-out;
}
.imagBody:hover, .imagBody:focus{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.titleLink{
    text-decoration: none;
    color: black;
}
.titleLink h6{
margin-top: 10px;
margin-bottom: 10px;
transition: all 0.5s ease-out;
}
.titleLink h6:hover, .titleLink h6:focus{
color: orangered;
}
.cartAndOtherBtns{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.5s ease-out;
}

.addToCartButn button{
    border: none;
    background: none;
    transition: all 0.5s ease-out;
}
.addToCartButn button:hover, .addToCartButn button:focus{
    color: orangered;
}

