.myHeading{
    width: 100vw;
    background-color: black;
    color: lightgray;
}
#leftSide{
    justify-content: center;
    margin-top: 5px;
}
.icons i{
    padding-left: 20px;
}
.icons{
  margin-top: 5px;
}
